.section-feature {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 94px;
  background-color: #ffffff;
}

.feature {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0 auto;
    .feature .feature__item:not(:last-child) {
      margin-right: 30px;
    }
  }
  .feature__section {
    border-radius: 4px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--first-bg-color);
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      height: 120px;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      height: 120px;
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      height: 120px;
      width: 270px;
    }
  }

  .feature__icon {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    fill: #212121;
  }

  .feature__title {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .feature__text {
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .feature__item {
    margin-top: 30px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: 15px;
      justify-content: center;
      width: calc((100% - 2 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      width: calc((100% - 4 * 30px) / 4);
    }
  }
}
