.footer-section {
  background-color: var(--accent-bg-color);
  color: var(--second-accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
}

.footer-logo {
  display: flex;
  width: 145px;
  margin-bottom: 20px;
  color: var(--second-accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-item {
  width: 230px;
}
.footer-nav {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
    & .link:hover, & .link:focus {
    color: #2196f3;
    }
}

.footer-address {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
  margin-bottom: 9px;
}
.about-address {
  color: var(--second-accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}
.footer-box {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 206px;
}
.footer-text {
  color: var(--second-accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-command-box {
  display: flex;
}
.footer-command-iconbox {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .footer-command-box & + & {
    margin-left: 12px;
    }
    &:hover, &:focus {
    background-color: var(--accent-color);
    }
}

.footer-command-link {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
    }
}

.footer-command-icon {
  display: flex;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .footer-command-link:hover &,
    .footer-command-link:focus & {
    fill: var(--second-accent-color);
    }
}

.footer-box-second {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  width: 570px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer {
  display: flex;
  margin: 0;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  font-family: Roboto, sans-serif;
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::after {
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../img/icon/send.svg);
    background-size: contain;
    }
    &:focus, &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: var(--second-accent-color);
}

.form-field {
  position: relative;
 @include position ();
}
.footer-form-label {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

