.section {
  background-color: var(--second-bg-color);
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.work {
  display: flex;
}

.work-img {
  position: relative;
  margin: 0 auto;
  flex-basis: calc(100% / 3);
  .work & + & {
  margin-left: 30px;
  }
}

.work-img-text {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  justify-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}